<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style/template1.css" rel="stylesheet">
    <title>Template01</title>
</head>
<body>
    <h1>Highlights about India</h1>
    <hr>
    
    <div class="card-container">
        <div class="card left-card">
            <img src="/images/Picture1.png" alt="Image" style="float:right; width: 65%;
            height: 90%; ">
            <h3>Name</h3>
            <h5 style="color:grey;">Republic of India</h5>
           
        </div>
        <div class="card right-card">
            <img src="/images/Picture2.png" alt="Image" style="float:right; width: 65%;
            height: 90%; ">
            <h3>Capital</h3>
            <h5 style="color:grey;">Delhi</h5>
            
        </div>
        <div class="card left-card">
            <img src="/images/Picture3.png" alt="Image" style="float:right; width: 65%;
            height: 90%; ">
            <h3>Language</h3>
            <h5 style="color:grey;">Hindi,English and many regional language</h5>
            
        </div>
        <div class="card right-card">
            <img src="/images/Picture4.png" alt="Image" style="float:right; width: 65%;
            height: 80%; ">
            <h3>Religion</h3>
            <h5 style="color:grey;">Hinduism,Islam,Christianity,Others</h5>
            
        </div>
        <div class="card left-card">
            <img src="/images/Picture5.png" alt="Image" style="float:right; width: 65%;
            height: 90%; ">
            <h3>Population</h3>
            <h5 style="color:grey;">136.64 Crores(2019)</h5>
           
        </div>
        <div class="card right-card">
            <img src="/images/Picture6.png" alt="Image" style="float:right; width: 65%;
            height: 90%; ">
            <h3>Currency</h3>
            <h5 style="color:grey;">Indian Rupees(INR)</h5>
            
        </div>
    </div>

</body>
</html>
