<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Template 4</title>
    <link rel="stylesheet" href="/style/template4.css" />
  </head>
  <body>
    <div class="container">
      <div class="heading"><h1>Study India vs Study Abroad</h1></div>

      <div class="container1">
        <div class="left">
          <h1>Details</h1>
          <hr />
          <h3>Language</h3>
          <hr />
          <h3>Livng Budget</h3>
          <hr />
          <h3>Connectivity</h3>
          <hr />
          <h3>VISA</h3>
          <hr />
          <h3>Transport</h3>
          <hr />
          <h3>University</h3>
        </div>
        <div class="center">
          <h1>Study India</h1>
          <hr />
          <p>Language is no barrier</p>
          <hr />
          <p>Living on a Budget</p>
          <hr />
          <p>Always connected with family and friends</p>
          <hr />
          <p>No Visa problem</p>
          <hr />
          <p>Good public transport facility</p>
          <hr />
          <p>India boasts the largest university in the world</p>
        </div>
        <div class="right">
          <h1>Study Abroad</h1>
          <hr />
          <p>Language is a barrier in many abroad countries</p>
          <hr />
          <p>High Living costs as compare to India</p>
          <hr />
          <p>Connectivity with family is not as easy as in India</p>
          <hr />
          <p>Lots of hurdles while appying for VISA</p>
          <hr />
          <p>Not familier with public transport</p>
          <hr />
          <p>No university is as large as IGNOU Abroad</p>
        </div>
      </div>
    </div>
  </body>
</html>
